---
import PageLayout from "@/layouts/PageLayout.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import type { GetStaticPaths, Page } from "astro";
import { getAllPosts, sortMDByDate } from "../../utils/post.ts";
import type { CollectionEntry } from "astro:content";
import ContainerSection from "@/components/ContainerSection.astro";

export const getStaticPaths = (async ({ paginate }) => {
	const allPosts = await getAllPosts();
	const allPostsByDate = sortMDByDate(allPosts);
	return paginate(allPostsByDate, { pageSize: 10 });
}) satisfies GetStaticPaths;

const meta = {
	description: "Collection of posts",
	title: "Blog posts",
};

interface Props {
	page: Page<CollectionEntry<"post">>;
}

const { page } = Astro.props;
---

<PageLayout meta={meta}>
	<ContainerSection>
		<h1 class="title mb-6">Posts</h1>
		<section aria-label="Blog post list">
			<ul class="space-y-8 text-start">
				{
					page.data.map((post) => (
						<PostPreview
							title={post.data.title}
							img={post.data.coverImage?.src}
							desc={post.data.description}
							target="_self"
							alt={post.data.coverImage?.alt}
							draft={post.data.draft}
							url={`/blog/${post.slug}`}
						/>
					))
				}
			</ul>
		</section>
	</ContainerSection>
</PageLayout>
