---
import PageLayout from "@/layouts/PageLayout.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import type { GetStaticPaths, Page } from "astro";
import { getAllPosts, sortMDByDate } from "../../utils/post.ts";
import type { CollectionEntry } from "astro:content";
import ContainerSection from "@/components/ContainerSection.astro";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";

export const getStaticPaths = (async ({ paginate }) => {
	const allPosts = await getAllPosts();
	const allPostsByDate = sortMDByDate(allPosts);
	return paginate(allPostsByDate, { pageSize: 10 });
}) satisfies GetStaticPaths;

const meta = {
	description: "Collection of posts",
	title: "Blog posts",
};

interface Props {
	page: Page<CollectionEntry<"post">>;
}

const { page } = Astro.props;

dayjs.extend(localizedFormat);

const previewData = (a: Date) => {
	return dayjs(a).format("ll");
};
---

<PageLayout meta={meta}>
	<ContainerSection>
		<h1 class="mb-6 text-3xl font-bold">The Blog</h1>
		<section aria-label="Blog post list" class="mb-24">
			<ul class="space-y-8 text-start">
				{
					page.data.map((post) => (
						<>
							<PostPreview
								title={post.data.title}
								img={post.data.coverImage?.src}
								desc={post.data.description}
								target="_self"
								alt={post.data.coverImage?.alt}
								draft={post.data.draft}
								url={`/blog/${post.slug}`}
								publishDate={previewData(post.data.publishDate)}
								tags={post.data.tags}
							/>
							<div class="border-brcolor border border-y" />
						</>
					))
				}
			</ul>
		</section>
	</ContainerSection>
</PageLayout>
