---
const { title, img, desc, url, draft, alt, publishDate, target = "_blank" } = Astro.props;
import { Image } from "astro:assets";
import defaultImage from "@/assets/post_img.png";
---

<div class="bg-base-100 rounded-lg transition ease-in-out hover:scale-[102%] hover:shadow-xl">
	<a href={url} target={target}>
		<div class="post-preview-list flex-col md:flex-row">
			<Image
				src={img ? img : defaultImage}
				width={750}
				height={422}
				alt={alt ? alt : "post image"}
				class="max-w-full rounded-lg md:max-w-[13rem]"
			/>
			<div class="w-full grow">
				<h1 class="text-xl font-bold">
					{title}
					{
						draft && (
							<span class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">
								Draft
							</span>
						)
					}
				</h1>
				<p>{publishDate}</p>
				<p class="text-1xl py-1">{desc}</p>
			</div>
		</div>
	</a>
</div>
