---
import type {SiteMeta} from '@/types';
import Footer from '@/components/layout/Footer.astro';
import Header from '@/components/layout/Header.astro';
import BaseHead from '@/components/BaseHead.astro';

interface Props {
	meta: SiteMeta;
}

const {
	meta: {articleDate, description, ogImage, title},
} = Astro.props

---
<!doctype html>
<html lang={'en'}>
	<head>
		<BaseHead articleDate={articleDate} description={description} ogImage={ogImage} title={title} />
	</head>
	<body>
		<Header />
		<main id="main">
			<slot/>
		</main>
		<Footer />
	</body>
</html>