---
import ContainerSection from "@/components/ContainerSection.astro";
import PageLayout from "./PageLayout.astro";
import type { CollectionEntry } from "astro:content";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";
import { Image } from "astro:assets";

interface Props {
	post: CollectionEntry<"post">;
}

const { post } = Astro.props;
const {
	data: { tags, draft, description, heroImage, ogImage, publishDate, title, updatedDate },
	slug,
} = post;

dayjs.extend(localizedFormat);
const articleDate = dayjs(publishDate).format("ll");
const articleLastUpdate = dayjs(updatedDate).format("ll");

const socialImage = ogImage ?? `/og-image/${slug}.png`;
---

<PageLayout meta={{ articleDate, description, ogImage: socialImage, title }}>
	<ContainerSection>
		{
			heroImage && (
				<Image
					width={750}
					height={422}
					format="webp"
					src={heroImage}
					alt={title}
					class="mb-6 w-full"
				/>
			)
		}
		<article class="mb-44 flex flex-grow justify-center break-words" data-pagefind-body>
			<div class="mt-3 max-w-[750px]">
				<div class="pb-4">
					<h1 class="title my-2 text-4xl font-bold">
						{title}
						{
							draft && (
								<span class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">
									Draft
								</span>
							)
						}
					</h1>
					<div class="py-2">
						{tags && tags.map((tag) => <a class="badge badge-outline mr-2 no-underline">{tag}</a>)}
					</div>
					{
						updatedDate && (
							<time class="text-xs">
								Last updated on <time>{articleLastUpdate}</time>{" "}
							</time>
						)
					}
				</div>
				<div
					class="prose-headings:text-accent-2 prose-headings:before:text-accent
					prose
					prose-blog
					prose-headings:font-semibold
					prose-headings:before:absolute
					prose-headings:before:-ms-4
					prose-th:before:content-none"
				>
					<slot />
				</div>
			</div>
		</article>
	</ContainerSection>
</PageLayout>
